/* Style cho div */
.intro {
  background-color: #f3fde8;
  padding: 20px;
}

.contact {
  background: url("https://wallpapers.com/images/hd/light-color-on-white-background-yr5ibxag43cgksvp.jpg")
    repeat;
  text-align: center;
  padding: 20px;
}

/* Style cho heading */
h1,
h2,
h3,
h4 {
  font-size: 24px;
  -webkit-text-stroke: 1px black; /* viền chữ */
}

/* Bảng mục tiêu */
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 8px;
}

/* Menu và footer */
nav,
footer {
  background-color: #d4f2f4;
  color: #0b0848;
  text-align: center;
  padding: 10px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #0b0848;
  font-weight: bold;
}
nav a:hover {
  text-decoration: underline;
}
